.about {

	@include media-tablet() {
		background-image: url('../img/@ny/about/bg_t.jpg');
		background-position: 50% 0;
		padding: 180px 0;

		&:before {
			bottom: auto;
			top: 26px;
		}

		&__col-2 {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__title {
			font-size: 65px;
		}

		&__text {
			font-size: 37px;
			margin-bottom: 0;
		}

		&__link {
			text-align: center;
			padding: 0 0 50px 100px;
		}

		&__button {
			width: 145px;
			height: 145px;

			i {
				font-size: 83px;
			}
		} // &__button

	} // tablet


	@include media-desktop() {
		background-image: url('../img/@ny/about/bg_d.jpg');
		padding: 275px 0;

		&:before {
			width: 825px;
			height: 1181px;
			top: 40px;
			right: 0;
		}

		&__title {
			font-size: 100px;
			margin-bottom: 40px;
		}

		&__text {
			font-size: 56px;
		}

		&__link {
			text-align: center;
			padding: 0 0 70px 150px;
		}

		&__button {
			width: 222px;
			height: 222px;

			i {
				font-size: 127px;
			}
		} // &__button

	} // desktop

}