.partners {
	color: white;
	background: black;
	padding-top: 131px;

	&__title {
		margin-right: -10px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: 55px 0;
	}

	&__card {
		max-width: 125px;
		flex-basis: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
		margin: 0 auto;

		img {
			max-height: 70px;
		}
	} // &__card

	&__button-more {
		margin-top: 70px;
	}

}