.form {

	&__text {
	}

	&__items {
		display: grid;
		gap: 29px 0;
	}

	&__item {
		&-label {
			display: flex;
			align-items: center;

			&-text {
				flex: 0 auto;
				font-weight: bold;
			}
		} // &-label

		&_button {
			margin-top: -15px;
		}
	} // &__item

	&__input {
		width: 100%;
		height: 40px;
		border: 0;
		border-bottom: 1.3079px solid;
		background: none;
		padding-left: 0;
		padding-right: 0;

		&.error {
			border-color: red;
		}
	} // &__input

	&__button {
	}

	select {
		option {
			color: #000;

			&:disabled {
				display: none;
			}
		}
	}

	textarea {
		padding-top: 0.75em;
	}

	&__footer {
		flex-basis: 100%;
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		line-height: 1.2;

		label {
			cursor: pointer;
			position: relative;
			padding: 0 0 0 20px;
			margin: 0;
		}

		&-checkbox {
			width: 15px;
			height: 15px;
			position: absolute;
			top: 2px;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			input {
				display: none;
			}

			&-icon:before {
				content: url("data:image/svg+xml,%3Csvg width='17' height='13' viewBox='0 0 17 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.08163L6.90149 10.5719L15 2' stroke='%23FF0000' stroke-width='3'/%3E%3C/svg%3E%0A");
				opacity: 0;

				input:checked + & {
					opacity: 1;
				}
			}
		} // &-checkbox

		&-text {
			a {
			}
		} // &-text
	} // &__footer

	&_vertical {
		.form__title {
		}
		.form__items {
		}
		.form__item {
		}
		.form__item_button {
		}
		.form__button {
		}

		.form__footer {
			label {
			}
		}
	} // &_vertical

	&_inline {
		.form__title {
		}
		.form__items {
		}
		.form__item {
			&_button {
			}
		}
		.form__item + .form__item {
		}
		.form__title ~ .form__footer {
		}
	} // &_inline

}