.about {
	position: relative;
	color: white;
	background: $grey url('../img/@index/about/bg.jpg') no-repeat 50% 100% / 100% auto;
	padding: 72px 0 148px;

	&:before {
		content: '';
		width: 498.99px;
		height: 714.31px;
		position: absolute;
		bottom: -101px;
		right: -47px;
		z-index: 0;
		background: --my-url-lines() no-repeat 0 0 / 100% auto;
	}

	&__video {
		display: block;
		position: relative;
	}

	&__img {
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		padding: 10% 0;
	}

	&__link {
		position: absolute;
		top: 100%;
		left: 0;
		color: red;
		text-transform: uppercase;
		margin-top: -51px;
	}

	&__button {
		max-width: 84px;
		min-height: 84px;
		background: red;
		border-radius: 50%;
		font-size: 34px;
		padding-left: 10px;
		margin-bottom: 15px;
	}

	&__text {
		font-size: 42px;
		line-height: 1;
		text-align: right;
		margin-bottom: 160px;
	}

}